 
 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import 'chart.scss';
@import'rateshow.scss';
@import 'cryptoconvertor.scss';
@import 'textmsg.scss';
@import 'color.scss';


 body {
           
            margin: 20px;
            padding: 0;
            color: $boc;
            background-color:$bobg;
            
        }
        
        

        
        